<header class="p-3 bg-light text-green">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="assets\leaf.png" class="bi"  height="50" role="img" aria-label="Bootstrap">
        </a>
        <h1 style="margin-left:2vh ;  font-family: 'Redressed', cursive;;">The <span style="color: green;">Plant</span>  Factory</h1>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-left: 5vw;">
          <li><a href="#" routerLink="/"  class="nav-link px-2">Home</a></li>
          <li><a href="#" routerLink="/shop" class="nav-link px-2">Shop</a></li>
         
          
        </ul>

        

        <div class="text-end">
        
          <button type="button" class="btn btn" routerLink="/shop">Contact Us</button>
          <button type="button" class="btn btn" routerLink="/">About</button>
        </div>
      </div>
    </div>
  </header>
