li a:hover{
    background-color: rgba(0, 128, 0, 0.219);

transition: 0.5s;

}
li a{
    transition: 0.5s;
  
    border-radius: 3px;
    margin: 2px;
    color: rgba(0, 0, 0, 0.918);
}
button:hover{
    background-color: rgba(0, 128, 0, 0.219);

    transition: 0.5s;
}
button{
    transition: .5s;
}