
    <section class="py-5 text-center container" style="background-image: url(https://media.istockphoto.com/photos/white-packs-of-salad-cucumber-beet-pumpkin-tomato-paprika-seeds-on-picture-id1306810942?b=1&k=20&m=1306810942&s=170667a&w=0&h=-_o8HsTuGqXDdquUuToX9HMsRhn-zU7BgPn9trdOIDo=); border-radius: 5px;">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto" >
<div style="background-color: aliceblue; border-radius: 5px;">
          <h1 class="fw-light" >20% <span style="color:  green;">Off </span> on Seeds</h1>
          <p class="lead text-muted">The offer ends on Feb 31</p>
        </div>
        <p>
          <a  class="btn btn my-2 buybt" (click)="prod.seeds()">Buy Now</a>
      </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1623959191-medium-plant-dieffenbachia-white-pot_2048x.jpg" style="height: 300px;" class="card-img-top img-fluid">
  
              <div class="card-body">
                <b class="card-text">{{prod.pr1}}</b>
                <div class="d-flex justify-content-between align-items-center">
                  
                    
                    <b>{{prod.pr1p}} INR</b>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-success">Add to cart</button>
                        <button type="button" class="btn btn btn-outline-success" (click)="prod.pr1Buy()">Buy</button>
                      </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://hgtvhome.sndimg.com/content/dam/images/grdn/fullset/2014/6/25/0/CI_04-fbfd01d70004.jpg.rend.hgtvcom.966.725.suffix/1452664590074.jpeg" style="height: 300px;" class="card-img-top img-fluid">
  
              <div class="card-body">
                <b class="card-text">{{prod.pr2}}</b>
                <div class="d-flex justify-content-between align-items-center">
                  
                    
                    <b>{{prod.pr2p}} INR</b>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-success">Add to cart</button>
                        <button type="button" class="btn btn btn-outline-success" (click)="prod.pr2Buy()">Buy</button>
                      </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1627652416-Bird-of-Paradise_746d55b281d8490f984a352470e4764e.jpg?crop=1.00xw:1xh;center,top&resize=480:*" style="height: 300px;" class="card-img-top img-fluid">
  
              <div class="card-body">
                <b class="card-text">{{prod.pr3}} </b>
                <div class="d-flex justify-content-between align-items-center">
                  
                    
                    <b>{{prod.pr3p}}  INR</b>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-success">Add to cart</button>
                        <button type="button" class="btn btn btn-outline-success" (click)="prod.pr3Buy()">Buy</button>
                      </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.ikea.com/th/en/images/products/fejka-artificial-potted-plant-in-outdoor-monstera__0614197_pe686822_s5.jpg" style="height: 300px;" class="card-img-top img-fluid">
  
              <div class="card-body">
                <b class="card-text">{{prod.pr4}} </b>
                <div class="d-flex justify-content-between align-items-center">
                  
                    
                    <b>{{prod.pr4p}}  INR</b>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-success">Add to cart</button>
                        <button type="button" class="btn btn btn-outline-success" (click)="prod.pr4Buy()">Buy</button>
                      </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.exotenherz.de/media/image/product/1822/md/monstera-deliciosa-fensterblatt-21cm-topf-ca-50-60cm-hoch.jpg" style="height: 300px;" class="card-img-top img-fluid">
  
              <div class="card-body">
                <b class="card-text">{{prod.pr5}} </b>
                <div class="d-flex justify-content-between align-items-center">
                  
                    
                    <b>{{prod.pr5p}}  INR</b>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-success">Add to cart</button>
                        <button type="button" class="btn btn btn-outline-success" (click)="prod.pr5Buy()">Buy</button>
                      </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.ikea.com/in/en/images/products/dypsis-lutescens-potted-plant-areca-palm__0653976_pe708205_s5.jpg" style="height: 300px;" class="card-img-top img-fluid">
  
              <div class="card-body">
                <b class="card-text">{{prod.pr6}} </b>
                <div class="d-flex justify-content-between align-items-center">
                  
                    
                    <b>{{prod.pr6p}} INR</b>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-success">Add to cart</button>
                        <button type="button" class="btn btn btn-outline-success" (click)="prod.pr6Buy()">Buy</button>
                      </div>
                </div>
              </div>
            </div>
          </div> <div class="col">
            <div class="card shadow-sm">
              <img src="https://m.media-amazon.com/images/I/81OBOfUWZ-L._SL1500_.jpg" style="height: 300px;" class="card-img-top img-fluid">
  
              <div class="card-body">
                <b class="card-text">{{prod.pr7}} </b>
                <div class="d-flex justify-content-between align-items-center">
                  
                    
                    <b>{{prod.pr7p}} INR</b>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-success">Add to cart</button>
                        <button type="button" class="btn btn btn-outline-success" (click)="prod.pr7Buy()">Buy</button>
                      </div>
                </div>
              </div>
            </div>
          </div> <div class="col">
            <div class="card shadow-sm">
              <img src="https://5.imimg.com/data5/SELLER/Default/2020/12/BJ/QW/WH/3393751/truphe-garden-tool-orange-black-set-of-5--500x500.jpg" style="height: 300px;" class="card-img-top img-fluid">
  
              <div class="card-body">
                <b class="card-text">Tools Combo(5)</b>
                <div class="d-flex justify-content-between align-items-center">
                  
                    
                    <b>{{prod.pr8p}} INR</b>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-success">Add to cart</button>
                        <button type="button" class="btn btn btn-outline-success" (click)="prod.pr8Buy()">Buy</button>
                      </div>
                </div>
              </div>
            </div>
          </div> <div class="col">
            <div class="card shadow-sm">
              <img src="https://media.istockphoto.com/photos/empty-flower-pot-picture-id1298515744?b=1&k=20&m=1298515744&s=170667a&w=0&h=bzWWSFweXQQXKr8jGZVM3dQT406kUemMb1p2EA1upyc=" style="height: 300px;" class="card-img-top img-fluid">
  
              <div class="card-body">
                <b class="card-text">Pot Medium</b>
                <div class="d-flex justify-content-between align-items-center">
                  
                    
                    <b>{{prod.pr9p}} </b>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-success">Add to cart</button>
                        <button type="button" class="btn btn btn-outline-success" (click)="prod.pr9Buy()">Buy</button>
                      </div>
                </div>
              </div>
            </div>
          
          
          </div>
        </div>
      </div>
    </div>
  

